@model AuctionWebApp.Models.AuctionItemViewModel

<div>
    <h4>AuctionItemViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            <input type="text" id="itemId" value="@Model.Id"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            <input type="text" id="price" value="@Model.CurrentPrice"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<div>
    <input type="text" id="messageInput" />
    <input type="button" id="bitButton" value="Bit" />
    <a asp-action="Index">Back to List</a>
</div>

<li id="messagesList"></li>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/auction.js"></script>
