@model AuctionWebApp.Models.AuctionItemViewModel

<div>
    <h4>AuctionItemViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            <p type="text" id="price">@Model.CurrentPrice</p>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10 ">
            <p type="text" id="owner">@Model.Owner</p>
        </dd>
        <dd class = "col-sm-10">
            <div id="countdown" class="countdown">
            <span class="hours countdown-time"></span>
            <span class="countdown-text">:</span>
            <span class="minutes countdown-time"></span>
            <span class="countdown-text">:</span>
            <span class="seconds countdown-time"></span>
            <span class="countdown-text"></span>
            </div>
        </dd>
    </dl>
</div>
<div>
    <input type="text" required pattern="#^[0-9]+$#" id="bitInput" />
    <button type="button" id="bitButton" value="Bit">PtnBitButton</button>
    <a asp-action="Index">Back to List</a>
</div>


<div class="row">
    <h2>StartTime</h2>
    <input  type="text" id="startTime" value="@Model.StartTime.ToString("O")" />
    <h2>LastBitTime</h2>
    <input  type="text" id="lastBitTime" value="@Model.LastBitTime?.ToString("O")" />
    <h2>OnLive</h2>
    <input  type="text" id="onLive" value=@(Model.OnLive) />
    <h2>OnWait</h2>
    <input  type="text" id="onWait" value=@(Model.OnWait) />
    <input hidden type="text" id="itemId" value="@Model.Id"/>
</div>


<li id="messagesList">a</li>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src='~/js/signalr/moment.js'></script>
<script src="~/js/auction.js"></script>


<script type="text/javascript">
    setTime();
</script>
